* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main {
  background-color: #fff;
  width: 70%;
  min-width: 375px;
  box-shadow: 5px 10px 8px #d0d0d0;
}

header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #595a5b;
}

.tasks,
.input-box {
  padding: 20px 20px;
  border-top: 1px solid #d0d0d0;
  width: 100%;
  font-size: 1.2rem;
  color: #595a5b;
}

.edit-input {
  outline: none;
  border: none;
  padding: 15px 20px;
  font-style: italic;
  padding-left: 20px;
  height: 100%;
  font-size: 1.2rem;
  background-color: #fbf0e4;
  width: 100%;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.input-box {
  outline: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 15px 20px;
  font-style: italic;
  padding-left: 20px;
  height: 50px;
  font-size: 1.2rem;
}

button {
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #d0d0d0;
  border-right: none;
  border-left: none;
  background-color: #f7f8f8;
  font-size: 1.3rem;
  color: #b2b4b5;
}

.fa-trash-alt {
  display: none;
}

.sync-icon {
  font-size: 1.2em;
  color: rgb(112, 107, 106);
}

.task-bg {
  background-color: #fbf0e4;
}

.task-completed {
  text-decoration: line-through;
}

.delete-task-icon {
  display: block;
}

.edit-task-icon {
  display: none;
}
